﻿<div class="row">
    <h1>Doctor</h1>
    <div>
        <ul id="divResultDoctor" />
    </div>
       
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

    <script>     

        $(document).ready(function () {
            // Send an AJAX request          
            GetAllDoctor();
        });

        function GetAllDoctor() {
            jQuery.support.cors = true;

            $.ajax({
                url: 'http://localhost:63993/api/v1/Doctor',               
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowDoctors(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function GetAppoitment() {
            jQuery.support.cors = true;
            var id = $('#IdAppoitment').val();
            $.ajax({
                url: 'http://localhost:63993/api/v1/Doctor/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowDoctor(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
           
        function ShowDoctors(doctors) {
         
            var strResult = "<table class='table'><th>ID</th><th>Identificacion</th><th>Nombres</th><th>Apellidos</th><th>RH</th><th>Specialty</th>";

            $.each(doctors, function (index, doctor) {
                strResult += "<tr><td>" + doctor.id + "</td><td> " + doctor.identification + "</td><td>" + doctor.first_name + "</td><td>" + doctor.last_name + "</td><td>" + doctor.blood_type + "</td><td>" + doctor.specialty_field.specialty_type + "</td></tr>";
            });

           strResult += "</table>";

           $("#divResultDoctor").html(strResult);
        }


        function ShowDoctor(doctor) {

            if (appoitment != null) {

                var strResult = "<table class='table'><th>ID</th><th>Identificacion</th><th>Nombres</th><th>Apellidos</th><th>RH</th><th>Accion</th>";
                strResult += "<tr><td>" + doctor.id + "</td><td> " + doctor.identification + "</td><td>" + doctor.first_name + "</td><td>" + doctor.last_name + "</a> </td><td>" + doctor.blood_type + "</td><td><a type='button' class='btn btn-link' onclick='GetCitas(" + doctor.id + ")'>Cosnultar Citas<a/></td></tr>";
                strResult += "</table>";

                $("#divResultDoctor").html(strResult);
            }
            else {
                $("#divResultDoctor").html("No Results To Display");
            }
        }
    </script>
</div>