﻿<div class="row">
    <div class="container">
        <div class="col-md-4">
            <h1>Citas</h1>          
                <div>
                    <label for="Id">ID</label>
                </div>
                <div>
                    <input id="txtId" type="text" class="form-control" />
                </div>
                <div>
                    <label for="fecha">Fecha</label>
                </div>
                <div>
                    <input id="txtFecha" type="text" class="form-control" />
                </div>
                <div>
                    <label for="hora">Hora</label>
                </div>
                <div>
                    <input id="txtHora" type="text" class="form-control" />
                </div>
                <div>
                    <label for="medico">Medico</label>
                </div>
                <div>                  
                    <select id="selectDoc"  class="form-control" required></select>

                </div>
                <div>
                    <label for="paciente">Paciente</label>
                </div>
                <div>                  
                    <select id="selectPatiente" class="form-control" required></select>
                </div>
                <div>
                    <label for="estado">Estado</label>
                </div>
                <div>
                    <select id="IdEstado" class="form-control" required>
                        <option value="01">Creada</option>
                        <option value="02">Asignada</option>
                        <option value="03">Cancelada</option>
                    </select>
                </div>
                <div>
                    <br />
                    <div class="btn btn-default" id="btnGuardar">Guardar</div>
                    <div class="btn btn-info" id="btnModificar">Modificar</div>
                </div>
            
        </div>

        <div class="col-md-8">
           
            <div>
                <h2>Listado de Citas</h2>
                <div class="input-group">
                    <div class="btn input-group-addon btn-info" style="color:black" id="btnGetbyId">Buscar</div>
                    <input id="IdAppoitment" type="text" class="form-control" placeholder="Buscar por id de cita...">
                </div>
                <br />
                <div id="divResult" >
                   
                </div>
                <div class="row">
                    <h4>Paciente</h4>
                    <div id="divResultPaciente">
                     
                    </div>
                    <hr />
                    <h4>Doctor</h4>
                    <div id="divResultDoctor"> 
                       
                    </div>
                    <hr />
                    <h4>Citas Asignadas</h4>
                    <div id="divResultCitasDoc">                       
                    </div>
                </div>

            </div>           
        </div>
    </div>
</div>
<hr/>



    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

    <script>

        $("#btnGetbyId").click(function () {GetAppoitment();});
        $("#btnGuardar").click(function () { AddAppoitment(); });
        $("#btnModificar").click(function () { UpdateAppoitment(); });

    </script>

    <script>

        var uri = 'api/appoitment';

        $(document).ready(function () {
            // Send an AJAX request
            GetAllAppoitments();
            GetAllDoctor();
            GetAllPatients();
            $('#btnGuardar').prop('disabled', false);
            $('#btnModificar').prop('disabled', true);          
        });
      
        function GetAllAppoitments() {

            jQuery.support.cors = true;

            $.ajax({
                url: 'http://localhost:63993/api/v1/Appoitment',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowAppoitments(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function GetAppoitment() {
            jQuery.support.cors = true;
            var id = $('#IdAppoitment').val();
            $.ajax({
                url: 'http://localhost:63993/api/v1/Appoitment/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowAppoitment(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function GetCitas(id) {
            jQuery.support.cors = true;
     
            $.ajax({
                url: 'http://localhost:63993/api/v1/Appoitment?idMedico=' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowAppoitmentsDoc(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

         /**/
        function GetAllPatients() {
            jQuery.support.cors = true;

            $.ajax({
                url: 'http://localhost:63993/api/v1/Patient',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    SelectPatients(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function SelectPatients(patients) {

            var combo = $('#selectPatiente');

            $.each(patients, function (index, patient) {
                combo.append('<option value="' + patient.id + '">' + patient.first_name + ' ' + patient.last_name +  '</option>');
            });
        }
         /**/

        /**/
        function GetAllDoctor() {
            jQuery.support.cors = true;

            $.ajax({
                url: 'http://localhost:63993/api/v1/Doctor',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    SelectDoctors(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function SelectDoctors(doctors) {

            var combo = $('#selectDoc');    
          
            $.each(doctors, function (index, doctor) {              
                combo.append('<option value="' + doctor.id + '">' + doctor.first_name + ' ' + doctor.last_name + '</option>');
            });    
        }


        function GetDoctor(id) {
            jQuery.support.cors = true;        
            $.ajax({
                url: 'http://localhost:63993/api/v1/Doctor/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowDoctor(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function ShowDoctor(doctor) {

            if (doctor != null) {

                var strResult = "<table class='table'><th>ID</th><th>Identificacion</th><th>Nombres</th><th>Apellidos</th><th>RH</th><th>Speciality</th><th>Accion</th>";
                strResult += "<tr><td>" + doctor.id + "</td><td> " + doctor.identification + "</td><td>" + doctor.first_name + "</td><td>" + doctor.last_name + "</a> </td><td>" + doctor.blood_type + "</td><td>" + doctor.specialty_field.specialty_type  + "</td><td><a type='button' class='btn-link' onclick='GetCitas(" + doctor.id + ")'>Ver Citas<a/></td></tr>";
                strResult += "</table>";

                $("#divResultDoctor").html(strResult);
            }
            else {
                $("#divResultDoctor").html("No Results To Display");
            }
        }

        /**/

        /**/
        function GetPaciente(id) {
            jQuery.support.cors = true;
            $.ajax({
                url: 'http://localhost:63993/api/v1/Patient/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowPatient(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function ShowPatient(patiente) {

            if (patiente != null) {

                var strResult = "<table class='table'><th>ID</th><th>Identificacion</th><th>Nombres</th><th>Fecha Naci</th><th>Genero</th>";
                strResult += "<tr><td>" + patiente.id + "</td><td> " + patiente.identification + "</td><td>" + patiente.first_name + ' ' + patiente.last_name + "</td><td>" + patiente.date_birth + "</a> </td><td>" + patiente.genre + "</td></td></tr>";
                strResult += "</table>";

                $("#divResultPaciente").html(strResult);
            }
            else {
                $("#divResultPaciente").html("No Results To Display");
            }
        }

        /**/
        
        function AddAppoitment() {

            jQuery.support.cors = true;

            var item = {
                Id: $('#txtId').val(),
                Fecha: $('#txtFecha').val(),
                Hora: $('#txtHora').val(),
                IdMedico: $('#selectDoc').val(),
                IdPaciente: $('#selectPatiente').val(),
                IdEstado: $('#IdEstado').val()
            };

            $.ajax({
                url: 'http://localhost:63993/api/v1/Appoitment/',
                type: 'POST',
                data: JSON.stringify(item),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    ShowAppoitments(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function UpdateAppoitment() {

            jQuery.support.cors = true;

            var item = {
                Id: $('#txtId').val(),
                Fecha: $('#txtFecha').val(),
                Hora: $('#txtHora').val(),
                IdMedico: $('#selectDoc').val(),
                IdPaciente: $('#selectPatiente').val(),
                IdEstado: $('#IdEstado').val()
            };

            $.ajax({
                url: 'http://localhost:63993/api/v1/Appoitment/' + $('#txtId').val(),
                type: 'PUT',
                data: JSON.stringify(item),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    ShowAppoitments(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function Eliminar(id) {

            jQuery.support.cors = true;

            $.ajax({
                url: 'http://localhost:63993/api/v1/Appoitment/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    ShowAppoitments(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function Modificar(id) {

            jQuery.support.cors = true;

            $.ajax({
                url: 'http://localhost:63993/api/v1/Appoitment/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    SetAppoitment(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function ShowAppoitmentsDoc(appoitments) {
            var strResult = "<table class='table'><th>ID</th><th>Fecha</th><th>Hora</th><th>Id Estado</th>";

            $.each(appoitments, function (index, appoitment) {
                strResult += "<tr><td>" + appoitment.Id + "</td><td> " + appoitment.Fecha + "</td><td>" + appoitment.Hora + "</td><td>"  + appoitment.IdEstado + "</td></tr>";
            });

            strResult += "</table>";

            $("#divResultCitasDoc").html(strResult);
        }
      
        function ShowAppoitments(appoitments) {
            var strResult = "<table class='table'><th>ID</th><th>Fecha</th><th>Hora</th><th>Id Medico</th><th>Id Paciente</th><th>Id Estado</th><th>Accion</th>";

            $.each(appoitments, function (index, appoitment) {
                strResult += "<tr><td>" + appoitment.Id + "</td><td> " + appoitment.Fecha + "</td><td>" + appoitment.Hora + "</td><td><a  class='btn-link' onclick='GetDoctor(" + appoitment.IdMedico + ")'>Ver Medico</a> </td><td><a  class='btn-link' onclick='GetPaciente(" + appoitment.IdPaciente + ")'>Ver Paciente</a> </td><td> " + appoitment.IdEstado + "</td><td><a type='button' class='btn-link' onclick='Modificar(" + appoitment.Id + ")'>Modificar<a/>|<a type='button' class='btn-link' onclick='Eliminar(" + appoitment.Id + ")'>Eliminar<a/></td></tr>";
            });

            strResult += "</table>";

            $("#divResult").html(strResult);
        }

        function ShowAppoitment(appoitment) {

            if (appoitment != null) {

                var strResult = "<table class='table'><th>ID</th><th>Fecha</th><th>Hora</th><th>Id Medico</th><th>Id Paciente</th><th>Id Estado</th><th>Accion</th>";
                strResult += "<tr><td>" + appoitment.Id + "</td><td> " + appoitment.Fecha + "</td><td>" + appoitment.Hora + "</td><td><a  class='btn-link' onclick='GetDoctor(" + appoitment.IdMedico + ")'>Ver Medico</a> </td><td><a  class='btn-link' onclick='GetPaciente(" + appoitment.IdPaciente + ")'>Ver Paciente</a> </td><td> " + appoitment.IdEstado + "</td><td><a type='button' class='btn-link' onclick='Modificar(" + appoitment.Id + ")'>Modificar<a/>|<a type='button' class='btn-link' onclick='Eliminar(" + appoitment.Id + ")'>Eliminar<a/></td></tr>";
                strResult += "</table>";

                $("#divResult").html(strResult);
            }
            else {
                $("#divResult").html("No Results To Display");
            }
        }

        function SetAppoitment(appoitment) {

            if (appoitment != null) {
                $('#txtId').prop('disabled', true);
                $('#btnModificar').prop('disabled', false);
                $('#btnGuardar').prop('disabled', true);

                $('#txtId').val(appoitment.Id);
                $('#txtFecha').val(appoitment.Fecha);
                $('#txtHora').val(appoitment.Hora);
                $('#selectDoc').val(appoitment.IdMedico);
                $('#selectPatiente').val(appoitment.IdPaciente);
                $('#IdEstado').val(appoitment.IdEstado);
            }
        }
      
    </script>