﻿<div class="row">
    <h1>Patient</h1>
    <div>
        <ul id="divResultPatient" />
    </div>
       
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>


    <script>     

        $(document).ready(function () {
            // Send an AJAX request          
            GetAllPatients();
        });

        function GetAllPatients() {
            jQuery.support.cors = true;

            $.ajax({
                url: 'http://localhost:63993/api/v1/Patient',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowPatients(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function GetPatient() {
            jQuery.support.cors = true;
            var id = $('#IdPatient').val();
            $.ajax({
                url: 'http://localhost:63993/api/v1/Patient/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowPatient(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
           
        function ShowPatients(patients) {
            var strResult = "<table class='table'><th>ID</th><th>Identificacion</th><th>Nombres</th><th>Apellidos</th><th>RH</th>";

            $.each(patients, function (index, patient) {
                strResult += "<tr><td>" + patient.id + "</td><td> " + patient.identification + "</td><td>" + patient.first_name + "</td><td>" + patient.last_name + "</a> </td><td>" + patient.blood_type + "</td></tr>";
            });

           strResult += "</table>";

           $("#divResultPatient").html(strResult);
        }


        function ShowPatient(patient) {

            if (appoitment != null) {

                var strResult = "<table class='table'><th>ID</th><th>Identificacion</th><th>Nombres</th><th>Apellidos</th><th>RH</th><th>Accion</th>";
                strResult += "<tr><td>" + patients.id + "</td><td> " + patient.identification + "</td><td>" + patient.first_name + "</td><td>" + patient.last_name + "</a> </td><td>" + patient.blood_type + "</td></tr>";
                strResult += "</table>";

                $("#divResultPatient").html(strResult);
            }
            else {
                $("#divResultPatient").html("No Results To Display");
            }
        }
    </script>
</div>